<div class="content">
  <table>
    <thead>
      <tr>
        <th></th>
        <th *ngFor="let letter of getColumns()">
          {{ letter | uppercase }}
        </th>
        <th></th>
      </tr>
    </thead>
    <tr *ngFor="let line of getLines()">
      <td class="numberColumn">
        {{ line.number}}
      </td>
      <td *ngFor="let letter of getColumns()">
        <div [ngClass]="getClass(line.content[letter])"
        (click)="select(letter, line.number, line.content[letter])"
        title="{{ getTitle(line.content[letter]) }}">
          {{ letter | uppercase }}{{ line.number }}
        </div>
      </td>
      <td class="numberColumn"></td>
    </tr>
  </table>
  <div class="legend">
    <div class="row">
      <div class="col-xs-6">
        <div class="slot free">A0</div>
      </div>
      <div class="col-sm-3 description">Free slot</div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="busy slot">A0</div>
      </div>
      <div class="col-sm-7 description">Busy slot</div>
    </div>
    <div>
    <div class="row">
      <div class="col-xs-6">
        <div class="not-found slot">A0</div>
      </div>
      <div class="col-sm-3 description">Slot not found</div>
    </div>
    </div>
  </div>
</div>
