<table>
  <thead>
    <th>
      SUBJECTS
    </th>
  </thead>
  <tbody>
    <tr *ngFor="let subject of subjects">
      <td (click)="select(subject)" [ngClass]="subject.selected ? 'selected' : ''">
        {{ subject.title }}
      </td>
    </tr>
  </tbody> 
</table>
<div>
  <div class="manager-plates-bar">
    <i class="material-icons icon icon-back" (click)="back()" title="Back to chrompacks">
      keyboard_backspace
    </i>
    <i class="material-icons icon icon-add" (click)="add()" title="Add new subject">
      note_add
    </i>
    <div *ngIf="selected">
      <i class="material-icons icon icon-remove" (click)="delete()" title="Delete subject">
        delete_forever
      </i>
      <i class="material-icons icon" title="Analyze subject" (click)="view()">
        search
      </i>
    </div>
  </div>
</div>