<div class="header">
    <div class="row">
        <div class="col-md-4 v-centralized-content">
            <img class="logo-epm" src="../../assets/images/epm_pub.png">
        </div>
        <div class="col-md-4">
            <div class="title">
                <p class="title-application">LemiSEQ 2</p>
                <hr>
                <p>Departamento de Informática em Saúde</p>
                <p>Escola Paulista de Medicina</p>
                <p>Universidade Federal de São Paulo</p>
            </div>
        </div>
        <div class="col-md-4 v-centralized-content">
            <img class="logo-unifesp" src="../../assets/images/unifesp_logo.png">
        </div>
    </div>
</div>
<nav *ngIf="isLogged">
    <ul>
        <li>
            <a href="#">PLATE</a>
            <ul>
                <li><a href="/plate/upload">UPLOAD</a></li>
                <li><a href="/plate">SELECT</a></li>
            </ul>
        </li>
        <li>
            <a href="#">SUBJECT</a>
            <ul>
                <li><a href="#">UPLOAD</a></li>
                <li><a href="#">SELECT</a></li>
            </ul>
        </li>
        <li>
            <a href="#">SAMPLE</a>
            <ul>
                <li><a href="#">ASSIGN SAMPLE TO SLOT</a></li>
            </ul>
        </li>
    </ul>
</nav>