.option-menu {
    width: 70%;
}

.status {
    text-align: center;
    margin-top: 15px;
}

.content {
    display: flex;
    margin: 0px;
    justify-content: center;
}

.icon-add {
    padding-top: 13px;
    font-size: 35px;
}

.icon-remove {
    padding-top: 10px;
    margin-right: 25px;
    font-size: 40px;
}

.manager-plates-bar {
    display: flex;
    justify-content: center;
}