<div class="option-menu">
    <h1>UPLOAD</h1>
    <div *ngIf="loading">
        <loader class="loader"></loader>
    </div>
    <div class="alert alert-success" *ngIf="showMessageSuccess"><strong>Sucess!</strong> Your file was uploaded</div>
    <div class="alert alert-danger" *ngIf="messageError"><strong>Danger!</strong> {{messageError}}</div>
    <p><input type="text" placeholder="Title" [(ngModel)]="_title"></p>
    <p><input type="file" (change)="fileChange($event)" accept=".zip"/></p>
    <p><button (click)="upload()">OK</button></p>
</div>
