<table>
  <thead>
    <th>
      CHROMPACKS
    </th>
  </thead>
  <tbody>
    <tr *ngFor="let chrompack of chrompacks">
      <td (click)="select(chrompack)" [ngClass]="chrompack.selected ? 'selected' : ''">
        {{ chrompack.title }}
      </td>
    </tr>
  </tbody> 
</table>
<div>
  <div class="manager-plates-bar">
    <i class="material-icons icon icon-add" (click)="add()" title="Upload new plate">
      note_add
    </i>
    <div *ngIf="selectedChrompack">
      <i class="material-icons icon icon-remove" (click)="delete()" title="Delete plate selected">
        delete_forever
      </i>
      <i class="material-icons icon icon-edit" title="Manage plate's subjects" (click)="editSubjects()">
        edit
      </i>
    </div>
  </div>
</div>