<div class="header">
    <div style="float: left">
        <img class="logo-epm" src="../../assets/images/epm_pub.png">
    </div>
    <div class="title">
        <p class="title-application">LemiSEQ 2</p>
        <hr>
        <p>Departamento de Informática em Saúde</p>
        <p>Escola Paulista de Medicina</p>
        <p>Universidade Federal de São Paulo</p>
    </div>
    <!-- <div style="float: right">
        <img class="logo-unifesp" src="../../assets/images/unifesp_logo.png">
    </div> -->
</div>
<div class="menu">
    <ul>
        <li>SAMPLE</li>
        <li>SUMMARY</li>
        <li>SUBJECT</li>
        <li>CHROMEPACK</li>
        <a href='/upload'><li>UPLOAD</li></a>
        <a (click)="logout()"><li>LOGOUT</li></a>
    </ul>
</div>